{
    "openapi": "3.1.0",
    "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
    "info": {
        "title": "Airthings API",
        "version": "v1",
        "contact": {
            "name": "Airthings Support",
            "email": "support@airthings.com"
        }
    },
    "servers": [
        {
            "url": "https://ext-api.airthings.com"
        }
    ],
    "paths": {
        "/v1/accounts": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Accounts list",
                "description": "Get all accessible accounts",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "List of accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAccountsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
            ]
        },
        "/v1/devices": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device list",
                "description": "Get account devices",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "List of devices",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDevicesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentStartedAfter",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "showInactive",
                    "in": "query",
                    "schema": {
                        "type": "boolean"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "offset",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32"
                    },
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device info",
                "description": "Get info about a specific device",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Device with sensors, segments and locations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDeviceDetailedResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/battery": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device battery history",
                "description": "Get battery history of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Battery history response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatteryResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/latest-battery": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device battery latest-values",
                "description": "Get latest battery info of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Battery info response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SingleBatteryResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/latest-samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples latest-values",
                "description": "Get latest samples of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Sample response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SingleSampleResponse-enriched"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples history",
                "description": "Get samples of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/mold-samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples history - mold",
                "description": "Get mold samples history of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/virus-risk-samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples history - virus risk",
                "description": "Get virus risk samples history of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/occupancy-samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples history - occupancy",
                "description": "Get occupancy samples history of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "occupancy response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OccupancyResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "Number of samples to return per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Pointer to the next page of results when pagination occurs",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/ventilation-samples": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device samples history - ventilation",
                "description": "Get ventilation samples history of a specific device from the latest measuring segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "ventilation response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VentilationResponse-enriched"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "Number of samples to return per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Pointer to the next page of results when pagination occurs",
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/devices/{serialNumber}/threshold-breaches": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Device threshold notifications",
                "description": "Get threshold breaches for a given device. A threshold breach is generated every time one of\nthe device sensors reports a value that crosses a predefined threshold value",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "List of sensors threshold breaches of the device",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetThresholdBreachesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "serialNumber",
                    "in": "path",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "deprecated": false
                }
            ]
        },
        "/v1/segments": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment list",
                "description": "Get measurement segments belong to the account",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "List of segments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SegmentsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "showInactive",
                    "in": "query",
                    "schema": {
                        "type": "boolean"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentStartedAfter",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentEndedAfter",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/segments/{segmentId}": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment info",
                "description": "Get information on a measurement segment",
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Use `accountId`",
                        "required": false,
                        "deprecated": true
                    },
                    {
                        "name": "userGroupId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Use `accountId`",
                        "required": false,
                        "deprecated": true
                    },
                    {
                        "name": "accountId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "required": false,
                        "deprecated": false
                    },
                    {
                        "name": "segmentId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "required": true,
                        "deprecated": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A segment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SegmentResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
            ]
        },
        "/v1/segments/{segmentId}/samples": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment samples history",
                "description": "Get samples history of a specific measurement segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentId",
                    "in": "path",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "measurementSystem",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "US",
                            "METRIC"
                        ],
                        "description": "Measurement unit preference. Defaults to `METRIC`"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "radonUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "pci",
                            "bq"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "tempUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "c",
                            "f"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pressureUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "hpa",
                            "inhg"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "vocUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "ppb",
                            "mgpc"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/segments/{segmentId}/mold-samples": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment samples history - mold",
                "description": "Get mold samples history of a specific measurement segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentId",
                    "in": "path",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "measurementSystem",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "US",
                            "METRIC"
                        ],
                        "description": "Measurement unit preference. Defaults to `METRIC`"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "radonUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "pci",
                            "bq"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "tempUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "c",
                            "f"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pressureUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "hpa",
                            "inhg"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "vocUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "ppb",
                            "mgpc"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/segments/{segmentId}/virus-risk-samples": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment samples history - virus risk",
                "description": "Get virus risk samples history of a specific measurement segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Samples response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SamplesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentId",
                    "in": "path",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "measurementSystem",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "US",
                            "METRIC"
                        ],
                        "description": "Measurement unit preference. Defaults to `METRIC`"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "radonUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "pci",
                            "bq"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "tempUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "c",
                            "f"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pressureUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "hpa",
                            "inhg"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "vocUnit",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "ppb",
                            "mgpc"
                        ]
                    },
                    "required": false,
                    "deprecated": false
                }
            ]
        },
        "/v1/segments/{segmentId}/occupancy-samples": {
            "get": {
                "tags": [
                    "Segments"
                ],
                "summary": "Segment samples history - Occupancy",
                "description": "Get occupancy samples history of a specific measurement segment",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Occupancy response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OccupancyResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "AirthingsAccounts": [
                            "read:device"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "organizationId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "userGroupId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": "Use `accountId`",
                    "required": false,
                    "deprecated": true
                },
                {
                    "name": "accountId",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "segmentId",
                    "in": "path",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "required": true,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "If a resolution is provided: number of hours per page, else: number of days per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
                    "schema": {
                        "type": "string"
                    },
                    "description": "Set starting page of query, found in the response if all results does not fit in one page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "start",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "end",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "description": "Epoch timestamp or ISO8601 date",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "resolution",
                    "in": "query",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "HOUR",
                            "FOUR_HOURS",
                            "DAY",
                            "THREE_DAYS",
                            "WEEK"
                        ],
                        "description": "Set the averaging timespan of samples"
                    },
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "pageSize",
                    "in": "query",
                    "schema": {
                        "type": "number",
                        "format": "int32",
                        "maximum": 5000,
                        "minimum": 1
                    },
                    "description": "Number of samples to return per page",
                    "required": false,
                    "deprecated": false
                },
                {
                    "name": "cursor",
                    "in": "query",
[...]
