@use 'sass/main';
@use 'vuetify/settings' as v;

code,
kbd,
pre,
samp {
  font-family: main.$mono-font-family; /* Specify the font family of code elements */
}

p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

.no-pointer-events {
  pointer-events: none !important;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-text-field--outlined {
  background: var(--v-neutral-lighten1);
  border-color: var(--v-neutral-lighten2);
}

/*
Change the default styles for filled text fields, including selects,
to have a border all around instead of just at the bottom
*/

.v-text-field--filled {
  border-radius: v.$text-field-border-radius;
}

.v-text-field--filled:not(.v-text-field--outlined):before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border-style: solid;
  // todo: border-width: v.$text-field-outlined-fieldset-border-width;
  opacity: 0.24;
  // These are copied from VTextField fieldset styles, where the outline border styles come from
  transition-duration: 0.15s;
  transition-property: color, opacity;
  transition-timing-function: v.$accelerated-easing;
}

.v-text-field--filled:hover:before {
  opacity: 0.5;
}

.v-text-field--filled.v-input--is-focused:before {
  opacity: 1;
  // todo: border: v.$text-field-outlined-fieldset-border;
}

.v-text-field--filled.v-input--is-dirty .v-label {
  color: var(--v-neutral-lighten5)
}

.v-text-field--filled .v-input__slot:before,
.v-text-field--filled .v-input__slot:after {
  display: none;
}

/*
Make sure that chips don't appear squashed if they contain only narrow text.
Also center the text when it's small
 */
.v-chip {
  justify-content: center;
}

.v-chip {
  @each $name, $size in v.$icon-sizes {
    &.v-size--#{$name} {
      min-width: $size
    }
  }
}

// increase the contrast between dark card based menus and their background
.v-theme--dark > .v-overlay__content {
  > .v-card.v-theme--dark,
  > .v-list.v-theme--dark {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.25);
  }
}

.v-data-table-header__sort-icon {
  margin-left: 8px;
}

// this only works when the table has no footer, in other case it causes strange
// rounding when hovering or selecting the last row on a page
.v-table--has-bottom .v-table__wrapper {
  border-radius: initial;
}

// Expansion panels that use check boxes for their expansion icon need some love
.v-expansion-panel-title__icon > .v-checkbox {
  &.v-input--density-default {
    margin: -8px -2px;

    .v-selection-control--density-default {
      margin: -8px;
    }
  }
}
