name: Go Test

on:
  push:
    branches: [ main, tools/code-coverage ]
  pull_request:
    branches: [ main ]

jobs:
  test-all:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: github.com/smart-core-os/*,github.com/vanti-dev/*
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache: true
          go-version: '^1.24.x'
      - name: Private repo auth
        run: |
          git config --global url."https://${{ secrets.GO_MOD_TOKEN }}:x-oauth-basic@github.com/smart-core-os".insteadOf "https://github.com/smart-core-os"
          git config --global url."https://${{ secrets.GO_MOD_TOKEN }}:x-oauth-basic@github.com/vanti-dev".insteadOf "https://github.com/vanti-dev"

      - name: Test (cachable)
        run: go test -skip '_e2e$' ./...

      - name: Test (uncachable)
        run: go test -count=1 -run '_e2e$' -coverprofile=./cover.out -covermode=atomic -coverpkg=./... ./...

      - name: Test short tests under race detector
        run: go test -short -race ./...

      - name: Check test coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml
